.circle {
  height: 100px;
  width:  100px;
  background-color: blue;
  border-radius: 50%;
  display: inline-block;
  margin: 10px ;
  text-align: center;
  padding-top: 30px
}

.circleRed {
  height: 100px;
  width:  100px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  margin: 10px ;
  text-align: center;
  padding-top: 30px
}
